<app-toolbar>
  <div breadcrumb class="title">
    @defer (when bookWithContent()) {
      <a routerLink="/books/{{ bookId() }}">
        <h1>{{ bookWithContent().overview.title }}</h1>
      </a>
    } @placeholder (minimum 250ms) {
      <app-skeleton height="1.5rem"/>
    }
  </div>
  <div actionButton>
    @defer (when bookWithContent()) {
      <app-book-menu [bookOverview]="bookWithContent().overview"
                     [bookStats]="bookWithContent().stats"></app-book-menu>
    }
  </div>
</app-toolbar>

<div class="main-container">
  @defer (when bookWithContent()) {
    @for (page of pages(); track page.file_name) {
      <div [class]="{'sections-only': !isShowingPages(), 'page-with-sections': isShowingPages()}">
        @if (isShowingPages()) {
          <div class="raw-page" observeVisibility (visible)="pdfPage.setVisibility($event)">
            <app-book-page [fileUrl]="page.file_url" #pdfPage></app-book-page>
          </div>
        }
        <div class="sections">
          @for (section of page.sections; track section.section_index) {
            <app-section id="section-{{section.id}}" #section
                         [editable]="true"
                         [section]="section"
                         (sectionDeleted)="deleteSection(section)"
                         (editingModeChanged)="setEditingSection($event)"></app-section>
          }
        </div>
      </div>
      @if (page.sections.length > 0 || isShowingPages()) {
        <div class="page-number">{{ $index + 1 }}</div>
      }
    } @empty {
      <p>Strange... This book seem to be empty.</p>
    }
  } @placeholder (minimum 250ms) {
    <app-skeleton class="content-skeleton"/>
  }
</div>
