<app-toolbar>
  <div breadcrumb class="title">
    @defer (when bookWithContent()) {
      <a routerLink="/books/{{ bookId() }}">
        <h1>{{ bookWithContent().overview.title }}</h1>
      </a>
      <button matIconButton
              aria-label="Copy book title"
              (click)="copyBookTitle(); tooltip.show(10);"
              #tooltip="matTooltip"
              matTooltip="Copied!"
              matTooltipPosition="right"
              matTooltipShowDelay="10000"
              matTooltipHideDelay="2000">
        <mat-icon>content_copy</mat-icon>
      </button>
    } @placeholder (minimum 250ms) {
      <app-skeleton height="1.5rem"/>
    }
  </div>
  <div actionButton>
    @defer (when bookWithContent()) {
      @if (showNarrateButton()) {
        <button matButton="outlined"
                aria-label="Enqueue book for narration"
                (click)="openNarrateDialog(narrateBookTemplate)"
        >Narrate...</button>
      }
      <app-book-menu [bookOverview]="bookWithContent().overview"
                     [bookStats]="bookWithContent().stats"
                     [editMode]="true">
      </app-book-menu>
    }
  </div>
</app-toolbar>

<div class="main-container">
  @defer (when bookWithContent()) {
    @for (page of pages(); track page.file_name) {
      <div [class]="{'sections-only': !isShowingPages(), 'page-with-sections': isShowingPages()}">
        @if (isShowingPages()) {
          <div class="raw-page" observeVisibility (visible)="pdfPage.setVisibility($event)">
            <app-book-page [fileUrl]="page.file_url" #pdfPage></app-book-page>
          </div>
        }
        <div class="sections">
          @for (section of page.sections; track section.section_index) {
            <app-section id="section-{{section.id}}" #section
                         [editable]="true"
                         [section]="section"
                         (sectionDeleted)="deleteSection(section)"
                         (editingModeChanged)="setEditingSection($event)"></app-section>
          }
        </div>
      </div>
      @if (page.sections.length > 0 || isShowingPages()) {
        <div class="page-number">{{ $index + 1 }}</div>
      }
    } @empty {
      <p>Strange... This book seem to be empty.</p>
    }
  } @placeholder (minimum 250ms) {
    <app-skeleton class="content-skeleton"/>
  }
</div>

<ng-template #narrateBookTemplate>
  <h2 mat-dialog-title>Start Narrating "{{ bookWithContent().overview.title }}"?</h2>
  <mat-dialog-content>
    <p>This will add the book to the narration queue. Please ensure your edits are final, to avoid wasted resources.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton="filled" [mat-dialog-close]="true">Continue</button>
  </mat-dialog-actions>
</ng-template>
