# Python build artifacts
build/
dist/
volume/
.poetry/
*.egg-info/
*.egg

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/

# Node dependencies
node_modules/

# Angular build output
dist/
tmp/

# IDE settings
.idea/
*.iml

# Mac files
.DS_Store

# Log files
*.log
