services:
  api:
    image: ibabiankou/home-lab:narrator-api
    build: ./api
    environment:
      PG_URL: postgresql://narrator:narrator@pg:5432/narrator
      S3_ENDPOINT: http://s3:4566
      S3_ACCESS: test
      S3_SECRET: test
      KOKORO_BASEURL: https://kokoro.in.ggnt.eu
    depends_on:
      pg:
        condition: service_healthy
        restart: true
      s3:
        condition: service_healthy
        restart: true
      speech:
        condition: service_started
        restart: true
    ports:
      - "8000:8000"
  pg:
    image: postgres:17.7
    environment:
      POSTGRES_PASSWORD: narrator
      POSTGRES_USER: narrator
      POSTGRES_DB: narrator
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      retries: 5
    ports:
      - "5432:5432"
  s3:
    image: localstack/localstack:s3-latest
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
    environment:
      - DEBUG=${DEBUG:-0}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      retries: 5
    volumes:
      - "./scripts/init-s3.py:/etc/localstack/init/ready.d/init-s3.py"
      - "./volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  web-app:
    image: ibabiankou/home-lab:narrator-web-app
    build: ./web-app
    ports:
      - "80:80"

  speech:
    image: ibabiankou/home-lab:narrator-speech
    build: ./speech-generator
    ports:
      - "8001:8000"
