<div id="controls">
  <button matIconButton class="amplitude-prev">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button matIconButton class="play-pause" (click)="playPause()">
    @if (isPlaying()) {
      <mat-icon>pause</mat-icon>
    } @else {
      <mat-icon>play_arrow</mat-icon>
    }
  </button>
  <button matIconButton class="amplitude-next">
    <mat-icon>skip_next</mat-icon>
  </button>

</div>

<div class="progress">
  <input type="range" class="slider-input" [style]="{ width: readyWidth()  + '%' }"
         min="0" max="10000" value="0" />
  <div class="available" [style]="{ width: readyWidth()  + '%' }" ></div>
  <div class="queued"></div>
  <div class="unavailable" [style]="{ width: missingWidth()  + '%' }"></div>
</div>
