@use '@angular/material' as mat;

:host {
  position: fixed;
  bottom: 0;

  width: 100%;

  display: grid;

  background-color: var(--mat-sys-background);
  box-shadow: 0 -6px 8px rgba(149, 149, 149, 0.3);

  z-index: 50;

  @include mat.slider-overrides((
    active-track-color: orange,
    disabled-inactive-track-color: transparent,
  ));

  > * {
    padding: 0 16px;
  }
}

div#controls {
  $controls_height: 60px;
  display: flex;
  justify-content: space-between;
  height: $controls_height;

  .main-controls {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    .play-pause {
      $button_size: 36px;

      height: calc($button_size + 2 * 8px);
      width: calc($button_size + 2 * 8px);
      padding: 8px;

      mat-icon {
        font-size: $button_size;
        height: $button_size;
        width: $button_size;
      }
    }
  }

  .settings {
    position: absolute;
    right: 16px;
    height: $controls_height;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .active {
      color: var(--mat-sys-on-primary-container);
    }

    .playbackSpeed {
      font-size: 14px;
    }
  }
}

.progress {
  display: block;

  height: 45px;
}

$slider_height: 8px;
.slider {
  position: relative;

  width: 100%;
  height: $slider_height;

  .now {
    position: absolute;
    height: $slider_height;

    background-color: var(--mat-sys-primary);
    left: 0;
    width: 10%; // Changed programmatically
  }

  .available {
    position: absolute;
    height: $slider_height;

    background-color: var(--mat-sys-primary-fixed-dim);
    left: 0;
    width: 40%; // Changed programmatically
    z-index: -1;
  }

  .queued {
    position: absolute;
    height: $slider_height;

    background-color: rgb(159, 174, 180);

    width: 100%;
    z-index: -2;
  }

  .unavailable {
    position: absolute;
    height: $slider_height;

    right: 0;
    width: 60%; // Changed programmatically
    background-color: rgba(255, 177, 177, 0.73);
    z-index: -1;
  }
}

.times {
  margin-top: 5px;

  .current-progress {
    position: absolute;
    left: 16px;
  }

  .remaining-progress {
    position: absolute;
    right: 16px;
  }
}
