<div id="controls">
  <div class="main-controls">
    <button matIconButton class="amplitude-prev">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button matIconButton class="play-pause" (click)="playPause()">
      @if (isPlaying()) {
        <mat-icon>pause</mat-icon>
      } @else {
        <mat-icon>play_arrow</mat-icon>
      }
    </button>
    <button matIconButton class="amplitude-next">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  <div class="settings">
    <button matIconButton>
      <mat-icon>sync_arrow_down</mat-icon>
    </button>
  </div>

</div>

<div class="progress">
  <div class="slider">
    <div class="now" [style]="{ width: nowPercent() + '%' }" ></div>
    <div class="available" [style]="{ width: playlist().progress.available_percent + '%' }" ></div>
    <div class="queued"></div>
    <div class="unavailable" [style]="{ width: playlist().progress.unavailable_percent + '%' }"></div>
  </div>
  <div class="times">
    <div class="current-progress">{{ playerState?.$nowTime | async }}</div>
    <div class="remaining-progress">{{ playerState?.$remainingTime | async }}</div>
  </div>
</div>
