<div id="controls">
  <div class="main-controls">
    <button matIconButton (click)="previous($event)">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button matIconButton (click)="replay($event)">
      <mat-icon>replay_5</mat-icon>
    </button>
    <button matIconButton class="play-pause" (click)="playerState.playPause()">
      @if (playerState.audioPlayer.$isPlaying | async) {
        <mat-icon>pause</mat-icon>
      } @else {
        <mat-icon>play_arrow</mat-icon>
      }
    </button>
    <button matIconButton (click)="forward($event)">
      <mat-icon>forward_5</mat-icon>
    </button>
    <button matIconButton (click)="next($event)">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  <div class="settings">
    <button matIconButton>
      <mat-icon>sync_arrow_down</mat-icon>
    </button>
  </div>

</div>

<div class="progress">
  <div class="slider">
    <div class="now" [style]="{ width: (playerState.$nowPercent | async) + '%' }"></div>
    <div class="available" [style]="{ width: (playerState.$availablePercent | async) + '%' }"></div>
    <div class="queued"></div>
    <div class="unavailable" [style]="{ width: (playerState.$unavailablePercent | async) + '%' }"></div>
  </div>
  <div class="times">
    <div class="current-progress">{{ playerState.$nowTime | async }}</div>
    <div class="remaining-progress">{{ playerState.$remainingTime | async }}</div>
  </div>
</div>
