.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 500px) {
  .title {
    width: 300px;
  }
}

.delete-button, .delete-button mat-icon {
  color: darkred !important;
}

$maxWidth: 1280px;
.main-container {
  max-width: $maxWidth;
  margin: 0 auto;

  .page-number {
    text-align: center;
    font-style: italic;
    color: gray;
  }

  .content-skeleton {
    max-width: calc($maxWidth * 0.55);
    aspect-ratio: 8.5/11;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.page-with-sections {
  display: flex;
  flex-direction: row;
  padding: 0 5px;

  .raw-page {
    width: 45%;

    object, div.page-placeholder {
      width: 100%;
      aspect-ratio: 8.5/11;
    }
    padding: 0 10px;
  }

  .sections {
    width: 55%;
    padding: 0 10px;
    app-section {
      margin-bottom: 5px;
    }
  }
}

.sections-only {
  padding: 0 15px;

  .sections {
    max-width: calc($maxWidth * 0.55);
    margin: 0 auto;
    app-section {
      margin-bottom: 5px;
    }
  }
}

.player-spacer {
  height: 115px;
}
