:host {
  cursor: auto;
  transition: cursor 0.4s;

  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

:host:has(.hide-cursor) {
  cursor: none;
}

app-toolbar {
  ::ng-deep .small-screen + .title {
    padding-left: 16px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 0;

  a {
    min-width: 0;
  }

  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.delete-button, .delete-button mat-icon {
  color: darkred !important;
}

.main-container {
  flex-grow: 1;
  width: 100%;
}
