.page-container {
  display: flex;
  flex-direction: row;

  .raw-page {
    width: 40%;

    object {
      width: 100%;
      aspect-ratio: 8.5/11;
    }
  }

  .sections {
    width: 40%;
  }
}

mat-progress-spinner {
  //--mat-sys-primary: orange;

}
