<app-toolbar>
  <div breadcrumb>
    @defer (when bookWithContent()) {
      <h1 class="title">{{ bookWithContent().overview.title }}</h1>
    } @placeholder (minimum 250ms) {
      <app-skeleton height="1.5rem" />
    }
  </div>
  <div actionButton>
    @defer (when bookWithContent()) {
      <button  matIconButton aria-label="Download this book"
               (click)="downloadBook()">
        <mat-icon>download</mat-icon>
      </button>
      <button  matIconButton class="delete-button" aria-label="Delete this book" (click)="deleteBookDialog(deleteBookTemplate)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    }
  </div>
</app-toolbar>

<div class="main-container">
  @defer (when bookWithContent()) {
    @for (page of pages(); track page.file_name) {
      <div [class]="{'sections-only': !isShowingPages(), 'page-with-sections': isShowingPages()}">
        @if (isShowingPages()) {
          <div class="raw-page">
            @defer (on viewport) {
              <object [data]="page.file_url" type="application/pdf"></object>
            } @placeholder {
              <div class="page-placeholder"></div>
            }
          </div>
        }
        <div class="sections">
          @for (section of page.sections; track section.section_index) {
            <app-section id="section-{{section.id}}" #section
                         [class]="{'current': section.id == ($currentSectionId | async)}"
                         [section]="section"
                         (sectionDeleted)="deleteSection(section)"
                         (editingModeChanged)="setEditingSection($event)"></app-section>
          }
        </div>
      </div>
      @if (page.sections.length > 0 || isShowingPages()) {
        <div class="page-number">{{ $index + 1 }}</div>
      }
    } @empty {
      <p>Strange... This book seem to be empty.</p>
    }
  } @placeholder (minimum 250ms) {
    <app-skeleton class="content-skeleton" />
  }
</div>
<div class="player-spacer"></div>
@defer (when bookWithContent()) {
  <app-player [bookWithContent]="bookWithContent()"
              (showPagesChanged)="showOrHidePages($event)"
              (sectionPlayed)="setCurrentSectionId($event)"
              [handleKeyBindings]="!isEditingSection()"
  ></app-player>
}

<ng-template #deleteBookTemplate>
  <h2 mat-dialog-title>Delete "{{ bookWithContent().overview.title }}"?</h2>
  <mat-dialog-content>
    <p>You are about to delete this book. If you proceed, all associated data will be lost.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Keep it</button>
    <button mat-button class="delete-button" [mat-dialog-close]="true">Delete permanently</button>
  </mat-dialog-actions>
</ng-template>
