.main-container {
  max-width: 1280px;
  margin: 0 auto;
}

.page-container {
  display: flex;
  flex-direction: row;

  .raw-page {
    width: 45%;

    object {
      width: 100%;
      aspect-ratio: 8.5/11;
    }
  }

  .sections {
    width: 55%;
    p {
      padding: 0 10px;
    }
  }
}
