$maxWidth: 1280px;
.main-container {
  max-width: $maxWidth;
  margin: 0 auto;

  .page-number {
    text-align: center;
    font-style: italic;
    color: gray;
  }
}

.page-with-sections {
  display: flex;
  flex-direction: row;
  padding: 0 5px;

  .raw-page {
    width: 45%;

    object {
      width: 100%;
      aspect-ratio: 8.5/11;
    }
    padding: 0 10px;
  }

  .sections {
    width: 55%;
    padding: 0 10px;
    app-section {
      margin-bottom: 5px;
    }
  }
}

.sections-only {
  padding: 0 15px;

  .sections {
    max-width: calc($maxWidth * 0.55);
    margin: 0 auto;
    app-section {
      margin-bottom: 5px;
    }
  }
}

.player-spacer {
  height: 115px;
}
