.book-details-container {
  display: flex;
  gap: 24px;
  padding: 16px 8px;

  $column-width: 300px;
  .cover-column {
    flex: 0 0 $column-width;
    max-width: $column-width;

    .cover-wrapper {
      position: relative;
      aspect-ratio: 2/3;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        display: block;
      }

      .add-cover-btn {
        position: absolute;
        bottom: -12px;
        right: -12px;
        z-index: 1;
      }

      .no-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        aspect-ratio: 2 / 3;
        background-color: var(--mat-sys-surface-container-low);
      }
    }
  }

  .info-column {
    flex: 1;
    max-width: $column-width;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .detail-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      &:last-child {
        border-bottom: none;
      }

      .detail-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;

        mat-label {
          color: var(--mat-sys-outline);
          font-size: 0.8rem;
          font-weight: 400;
        }

        span {
          font-size: 1rem;
          color: var(--mat-sys-on-surface);
        }
      }

      &.description {
        align-items: flex-start;

        p {
          margin: 0;
          font-size: 0.95rem;
          line-height: 1.6;
          color: var(--mat-sys-on-surface);
          white-space: pre-wrap;
          opacity: 0.9;
        }
      }

      button[mat-icon-button] {
        color: var(--mat-sys-primary);
      }
    }
  }
}

@media (max-width: 600px) {
  .book-details-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .cover-column {
      flex: 0 0 auto;
      max-width: 250px;
    }

    .info-column {
      width: 100%;
    }
  }
}
