@if (isEditing()) {
  <div class="top-right-controls controls keep-visible">
    <button matIconButton aria-label="Cancel changes" (click)="cancelEditing()">
      <mat-icon>close</mat-icon>
    </button>
    <button matIconButton aria-label="Save changes" (click)="saveSection(textArea.value)">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <textarea matInput [cdkTextareaAutosize]="true" #textArea>{{section().content}}</textarea>
} @else {
  <div class="top-right-controls controls">
    <button matIconButton aria-label="Edit section" (click)="editSection()">
      <mat-icon>edit</mat-icon>
    </button>
    <button matIconButton aria-label="Delete section" (click)="deleteSection()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <div class="mid-right-controls controls">
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Generate speech">
      <mat-icon>text_to_speech</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>For all missing above</button>
      <button mat-menu-item>Only for this one</button>
    </mat-menu>
  </div>
  @for (paragraph of getParagraphs(); track paragraph) {
    <p>{{ paragraph }}</p>
  }
}
