<div class="top-right-controls controls">
  <button matIconButton aria-label="Edit section">
    <mat-icon>edit</mat-icon>
  </button>
  <button matIconButton aria-label="Delete section" (click)="deleteSection()">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
<div class="top-mid-controls controls">
  <button matIconButton aria-label="Add section before">
    <mat-icon>add</mat-icon>
  </button>
</div>
@for (paragraph of getParagraphs(); track paragraph) {
  <p>{{ paragraph }}</p>
}
<div class="bottom-mid-controls controls">
  <button matIconButton aria-label="Add section after">
    <mat-icon>add</mat-icon>
  </button>
</div>
