:host {
  display: block;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 4px;

  // Establish a positioning context for the controls.
  position: relative;
  // Allow controls to be visible outside the component.
  overflow: visible;

  // Default index of inactive sections.
  z-index: 10;
}

:host:hover {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);

  // Active host should be above the inactive hosts.
  z-index: 20;
}

/* Styling for the container that holds the top right controls. */
.top-right-controls {
  top: -45px;
  right: 0;
  transform: translateX(10px);
}
:host:hover .top-right-controls {
  transform: translateX(0);
}

.controls {
  position: absolute;
  opacity: 0; // Hidden by default, show on hover.
  transition: all 0.3s ease-in-out; // Ensure smooth transitions
  // Default index of inactive controls. Should be over the content of inactive sections.
  z-index: 15;

  /* Space out buttons nicely if multiple */
  display: flex;
  gap: 8px;

  // Blur content under the controls.
  background-color: rgba(var(--mat-sys-surface), 0.75);
  backdrop-filter: blur(3px);
  border-radius: 20px;
}

:host:hover .controls {
  opacity: 1;
  // Active controls should be over the content of the active section.
  z-index: 25;
}

textarea {
  width: 100%;
  height: auto;
}

.keep-visible {
  opacity: 1;
  z-index: 25;
}

p {
  margin: 0;
  padding: 0;
  text-indent: 25px;
}
