:host {
  display: block;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 4px;
}

:host:hover {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}

p {
  margin: 0;
  padding: 0;
  text-indent: 25px;
}
