<h2 mat-dialog-title>Keyboard Shortcuts</h2>
<mat-dialog-content>
  <div class="sections-container">
    <section>
      <h3>Playback</h3>
      <table>
        <tbody>
          <tr><td>Play / Pause</td><td><kbd>Space</kbd></td></tr>
          <tr><td>Rewind 5 seconds</td><td><kbd>Left</kbd></td></tr>
          <tr><td>Fast forward 5 seconds</td><td><kbd>Right</kbd></td></tr>
          <tr><td>Rewind to previous section</td><td><kbd>Shift</kbd> + <kbd>Left</kbd></td></tr>
          <tr><td>Fast forward to next section</td><td><kbd>Shift</kbd> + <kbd>Right</kbd></td></tr>
          <tr><td>Increase playback rate</td><td><kbd>Shift</kbd> + <kbd>Up</kbd></td></tr>
          <tr><td>Decrease playback rate</td><td><kbd>Shift</kbd> + <kbd>Down</kbd></td></tr>
          <tr><td>Show playback settings</td><td><kbd>S</kbd></td></tr>
        </tbody>
      </table>
    </section>

    <section>
      <h3>Editing</h3>
      <table>
        <tbody>
          <tr><td>Cancel editing without saving</td><td><kbd>Esc</kbd></td></tr>
          <tr><td>Save changes</td><td><kbd>Shift</kbd> + <kbd>Enter</kbd></td></tr>
        </tbody>
      </table>
    </section>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Cool</button>
</mat-dialog-actions>
