
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --font-scale: 100%;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Disable automatic font size adjustment
  -webkit-text-size-adjust: 100%;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-size: var(--font-scale);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-background),
    container-text-color: var(--mat-sys-neutral10),
    standard-height: 48px
  ));

  box-shadow: 0 6px 8px rgba(149, 149, 149, 0.3);

  a {
    text-decoration: none;
    color: var(--mat-sys-neutral10);
  }
}

mat-toolbar.mat-toolbar {
  margin-bottom: 20px;
}
