@use '@angular/material' as mat;

.toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));
  a {
    text-decoration: none;
    color: var(--mat-sys-on-primary);
  }
}
