.metadata-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .cover-column {
    display: flex;
    justify-content: center;
    align-items: center;

    .cover-wrapper {
      width: 400px;
      aspect-ratio: 3 / 4;
      position: relative;

      img {
        width: 100%;
        object-fit: contain;
      }

      .add-cover-btn {
        position: absolute;
        bottom: -12px;
        right: -12px;
        z-index: 1;
      }

      .no-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        aspect-ratio: 2 / 3;
        background-color: var(--mat-sys-surface-container-low);
      }
    }
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .metadata-card {
      height: 100%;
      width: 80%;
    }
  }
}

mat-card {
  height: inherit;
}

mat-card-content {
  mat-form-field {
    width: 100%;
  }
}

mat-card-actions {
  margin-top: auto;
  justify-content: flex-end;

  .spacer {
    flex: 1 1 auto;
  }
}
