.metadata-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .cover-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      aspect-ratio: 3 / 4;
      object-fit: contain;
    }
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .metadata-card {
      height: 100%;
      width: 80%;
    }
  }
}

mat-card {
  height: inherit;
}

mat-card-content {
  mat-form-field {
    width: 100%;
  }
}

mat-card-actions {
  margin-top: auto;
  justify-content: flex-end;

  .spacer {
    flex: 1 1 auto;
  }
}
