:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 0;

  a {
    min-width: 0;
  }

  h1 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content-spacer {
  height: 75px;
}

.start-narration-footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;

  z-index: 5;

  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
  align-items: center;
  white-space: nowrap;

  padding: 16px;

  background-color: var(--mat-sys-surface);
  box-shadow: 0 -6px 8px rgba(149, 149, 149, 0.3);
}
