:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin: 0 auto;
}

mat-sidenav-container {
  flex-grow: 1;
}

mat-sidenav {
  min-width: 150px;
  max-width: 300px;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;

  ::ng-deep .mat-drawer-inner-container {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.content-spacer {
  height: 75px;
}

.start-narration-footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;

  z-index: 5;

  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
  align-items: center;
  white-space: nowrap;

  padding: 16px;

  background-color: var(--mat-sys-surface);
  box-shadow: 0 -6px 8px rgba(149, 149, 149, 0.3);
}
