<app-toolbar>
  <div breadcrumb>
    <h1>Edit Book Details</h1>
  </div>
</app-toolbar>

<div class="main-container">
  @defer (when metadata()) {
    @let book = metadata()!;
    <div class="metadata-container">
      <div class="cover-wrapper">
        @if (book.cover) {
          <img [src]="`/api/files/${ book.cover }` | fileAsBlob | async " alt="{{ book.title }}">
        } @else {
          <img src="covers/blue.png" alt="{{ book.title }}">
        }
      </div>

      <div class="form-wrapper">
        <app-book-details-form
          [bookMetadata]="book"
          (reviewedMetadata)="submitReviewMetadata($event)"
        ></app-book-details-form>
      </div>
    </div>
    <div class="alternative-candidates">
      @if (metadataForReview()!.metadata_candidates.candidates.length > 0) {
        <h2>Wrong details? Consider following matches.</h2>
        <div class="grid">
          @for (candidate of metadataForReview()!.metadata_candidates.candidates; track candidate) {
            <app-book-overview [bookMetadata]="candidate" (click)="openDialog(candidate)"></app-book-overview>
          }
        </div>
      }
    </div>
  }
</div>
