<app-toolbar>
  <div breadcrumb>
    <h1>Edit Book Details</h1>
  </div>
  <div actionButton>
    @defer (when metadata()) {
      <app-book-menu [bookOverview]="metadataForReview()!.overview"></app-book-menu>
    }
  </div>
</app-toolbar>

<div class="main-container">
  @defer (when metadata()) {
    <app-book-details-form #detailsForm
                           [bookMetadata]="metadata()!"
                           (reviewedMetadata)="submitReviewMetadata($event)"
    ></app-book-details-form>

    <div class="alternative-candidates">
      @if (metadataForReview()!.metadata_candidates.candidates.length > 0) {
        <h2>Wrong details? Consider following matches.</h2>
        <div class="grid">
          @for (candidate of metadataForReview()!.metadata_candidates.candidates; track candidate) {
            <app-book-overview [bookMetadata]="candidate" (click)="openDialog(candidate, detailsForm)"></app-book-overview>
          }
        </div>
      }
    </div>
  }
</div>
