.main-container {
  max-width: var(--app-container-width);
  margin: 30px auto;

  .alternative-candidates {
    margin-top: 40px;
    padding: 20px;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }
  }
}

.content-skeleton {
  width: 100%;
  height: 600px;
}
