<app-toolbar>
  <div center>
    <form (ngSubmit)="search(searchInput.value)">
      <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
        <input matInput
               #searchInput
               type="search"
               enterkeyhint="search"
               placeholder="Search">
      </mat-form-field>
    </form>
  </div>
</app-toolbar>

<div class="main-container">
  <div class="paginator">
    <mat-paginator [length]="pageInfo().total"
                   [pageIndex]="pageIndex()"
                   [pageSize]="size()"
                   [hidePageSize]="true"
                   (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="book-grid">
    @defer (when books()) {
      @for (book of books(); track book.id) {
        <div class="book-card">
          <a [routerLink]="bookLink(book)">
            <div class="cover-wrapper">
              @if (book.cover) {
                <img [src]="`/api/files/${ book.cover }` | fileAsBlob | async " alt="{{ book.title }}">
              } @else {
                <img src="covers/{{$index % 2 === 0 ? 'blue' : 'red'}}.png" alt="{{ book.title }}">
              }
            </div>
            <h3 class="book-title">{{ book.title }}</h3>
          </a>
        </div>
      }
    } @placeholder (minimum 250ms) {
      @for (i of [].constructor(10); track $index) {
        <app-skeleton class="book-skeleton cover-wrapper"/>
      }
    }
  </div>
  <div class="paginator">
    <mat-paginator [length]="pageInfo().total"
                   [pageIndex]="pageIndex()"
                   [pageSize]="size()"
                   [hidePageSize]="true"
                   (page)="changePage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>


<button mat-fab color="primary" aria-label="Add new book" (click)="openFilePicker()">
  <mat-icon>add</mat-icon>
</button>
