<mat-toolbar class="toolbar">
  <a [routerLink]="['/books']">NNarrator Books</a>
</mat-toolbar>

<div class="main-container">
  <div class="book-grid">
    @defer (when books()) {
      @for (book of books(); track book.id) {
        <div class="book-card">
          <a [routerLink]="['/books', book.id]">
            <div class="cover-wrapper">
              <img src="covers/{{$index % 2 === 0 ? 'blue' : 'red'}}.png" alt="{{ book.title }}">
            </div>
            <h3 class="book-title">{{ book.title }}</h3>
          </a>
        </div>
      }
    } @placeholder (minimum 250ms) {
      @for (i of [].constructor(10); track $index) {
        <app-skeleton class="book-skeleton cover-wrapper"/>
      }
    }
  </div>
</div>

<button mat-fab color="primary" aria-label="Add new book" (click)="navigateToAdd()">
  <mat-icon>add</mat-icon>
</button>
