<div class="book-overview-container">
  <div class="cover-container">
    @if (hasCover()) {
      @if (isCoverInternal()) {
        <img [src]="`/api/files/${ bookMetadata().cover }` | fileAsBlob | async " alt="cover" />
      } @else {
        <img [src]="bookMetadata().cover" alt="cover" />
      }
    } @else {
      <img src="covers/gray.png" alt="cover" [style]="!bookMetadata().cover ? tintStyle : {}" />
    }
    <div class="overlay">
      @if (authors().length > 0) {
        <div class="authors">{{ authors().join(', ') }}</div>
      }
      @if (title()) {
        <div class="title">{{ title() }}</div>
      }
    </div>
  </div>
</div>
