$toolbarHeight: 75px;
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: $toolbarHeight;

  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

:host.hidden mat-toolbar {
  transform: translateY(-100%);
}

:host.hidden .content-spacer {
  height: 0;
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.theme-button {
  padding: 0 10px;
}

.content-spacer {
  height: $toolbarHeight;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-row-item {
  display: flex;
  align-items: center;
}

.large-screen {
  display: flex;
}

.small-screen {
  display: none;
}

.toolbar-row-item.small-screen {
  padding-right: 16px;
}

@media (max-width: 730px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: flex;
  }
}
