:host {
  ::ng-deep div[actionButton] {
    display: flex;
    gap: 16px;
    padding-right: 16px;
  }
}

$toolbarHeight: 75px;
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: $toolbarHeight;

  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

:host.hidden mat-toolbar {
  transform: translateY(-100%);
}

:host.hidden .content-spacer {
  height: 0;
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.content-spacer {
  height: $toolbarHeight;
}

.center {
  flex: 1 1 auto;
}

.toolbar-row-item {
  display: flex;
  align-items: center;
}

.large-screen {
  display: flex;
}

.small-screen {
  display: flex;
}
